.Actions {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: start;
}

button {
  outline: none;
  cursor: pointer;
}

.Actions button:hover {
  border-color: rgba(30, 86, 49, 0.9) !important;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.18), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

button i {
  padding-right: 10px;
}
.Actions button:hover i {
  color: rgba(30, 86, 49, 0.9);
}

button i.fa-copy {
  margin-left: -5px;
}

button i.fa-trash-alt {
  margin-left: -10px;
}

button i.fa-check-circle {
  margin-left: -10px;
}
