.navBar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgb(39, 68, 41) 25%, rgb(11, 20, 13) 75%);
  height: 10vh;
  border-bottom: 2px solid #fff;
}

.navBar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar .navLeft .logo {
  font-size: 1.5rem;
}

.navBar .navLeft {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.navBar .navRight {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.navRight .far {
  color: rgba(255, 255, 255, 0.9);
  background: transparent;
}

.navBar .navRight a {
  text-align: right;
}

.navBar .far:hover,
.navBar .logo .logo-navlink:hover {
  color: rgba(255, 255, 255, 0.5);
}
