.navBar-frontpage {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgb(39, 68, 41) 25%, rgb(11, 20, 13) 75%);
  height: 10vh;
  border-bottom: 2px solid #fff;
}

.navBar {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background: linear-gradient(90deg, rgb(39, 68, 41) 25%, rgb(11, 20, 13) 75%);
  height: 10vh;
  border-bottom: 2px solid #fff;
}

.navBar-frontpage a,
.navBar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.navLeft .logo {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navLeft {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

.navRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1rem;
  color: #fff;
}

.navRight a:first-child {
  margin-left: 1rem;
}

.navRight .far {
  color: rgba(255, 255, 255, 0.9);
  background: transparent;
}

.navRight a {
  text-align: right;
}

.navRight .far:hover,
.logo .logo-navlink:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navSub {
  display: flex;
  align-items: center;
}
.navSub button {
  position: relative;
  background: transparent;
  border: none;
  color: #f2f2f2;
  font-size: 0.9rem;
  margin: 1rem 2rem 1rem 0;
}

.activeBtn::after {
  content: '';
  position: absolute;
  left: 5px;
  bottom: -5px;
  height: 2%;
  width: 90%;
  border-bottom: 1.4px solid #f2f2f2;
}

.activeBtn-hover {
  position: relative;
  opacity: 0.8;
}
.inactiveBtn {
  opacity: 0.6;
}


.activeBtn-hover::after {
  content: '';
  position: absolute;
  left: 6px;
  bottom: -5px;
  height: 2%;
  width: 90%;
  border-bottom: 2px solid rgba(242, 242, 242, 0.3);
}
