.SubMenu {
  margin-left: 5rem;
}

.SubMenu form {
  display: inline-block;
}

.SubMenu form input {
  padding: 0.2rem 1rem 0.2rem 0.2rem;
}

input:focus::placeholder {
  color: transparent;
}

.SubMenu > button {
  position: relative;
  border: none;
  padding: 0.7rem 1rem;
  background: inherit;
  color: rgb(127, 127, 127);
  border-right: 1px solid rgb(211, 211, 211);
  cursor: pointer;
}

.SubMenu > button:focus {
  outline: none;
}

.SubMenu > button:active {
  text-decoration: none;
}

.SubMenu > form {
  margin-right: 1rem;
  margin-left: 1rem;
}

.SubMenu > button:last-child {
  border-right: none;
}

.SubMenu > button.SubMenu-IsActive-Btn {
  font-weight: bold;
}

.SubMenu > button.SubMenu-IsActive-Btn::after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 5px;
  height: 2%;
  width: 70%;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.OrderHandler-Top-Menu-btn.active::after {
  content: '';
  position: absolute;
  left: 6px;
  bottom: -5px;
  height: 2%;
  width: 90%;
  border-bottom: 2px solid rgba(30, 86, 49, 0.9);
}
