.FrontScreen {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  padding-top: 10rem;
  margin: 0 auto;
  height: 90vh;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(17, 47, 27, 0.729),
      rgba(17, 47, 27, 0.729)
    ),
    url(../img/Truck_FrontScreen.png) no-repeat center center/cover;
  overflow: hidden;
  background-color: rgba(150, 150, 150, 0.5);
  color: #fff;
}

.FrontScreen h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}

.FrontScreen-List li {
  list-style: none;
  margin: 0.25rem 1rem;
  padding: 0.5rem 1rem;
}

.FrontScreen-Info h4 {
  padding: 0.5rem 1rem;
  margin: 1.25rem 0.5rem;
  font-size: 1.5rem;
}

.FrontScreen-Button {
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  min-width: 100px;
  cursor: pointer;
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
}
