.navBar {
    display: flex;
    background: linear-gradient(90deg, rgb(39, 68, 41) 25%, rgb(11, 20, 13) 75%);
    overflow: hidden;
}


.navBar a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar .navLeft a {
    float: left;
    text-align: left;
}

.navBar .navLeft {
    flex: 1;
}

.navBar .navRight {
    flex: 1;
}

.navBar .navRight a {
    float: right;
    text-align: right;
}

.App {
    grid-column: 2;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 90% auto;
}

.navBar a:hover {
    background-color: #ddd;
    color: black;
  }
  
.navBar a.active {
    background-color: #4CAF50;
    color: white;
  }